#QuadCopter.vg#
.inert_intf.sv.kate-swp
.nfs00000000000b0e3300002d77
.nfs000000000027ad7f00004e72
*.bak
*.mti
*.mpf
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.sld
*.sof
*.svf
*.log
transcript
*.wlf
wlft7CqfIT
wlftOrtWpp
work
